[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa

[web]
%{ for name, ip in web ~}
${name} ansible_host=${ip}
%{ endfor ~}

[database]
%{ for name, ip in database ~}
${name} ansible_host=${ip}
%{ endfor ~}
